[submodule "finance-tool"]
	path = finance-tool
	branch = master
	url = ../finance-tool.git
[submodule "handheld"]
	path = handheld
	branch = master
	url = ../handheld.git
[submodule "monofuel.dev"]
	path = monofuel.dev
	branch = master
	url = ../monofuel.dev.git
[submodule "orbital"]
	path = orbital
	branch = master
	url = ../orbital.git
[submodule "system-redemption"]
	path = system-redemption
	branch = master
	url = ../system-redemption.git
[submodule "vpn-certs"]
	path = vpn-certs
	branch = master
	url = ../vpn-certs.git
[submodule "fusion-automation-ts"]
	path = fusion-automation-ts
	branch = master
	url = ../fusion-automation-ts.git
[submodule "mjolnir"]
	path = mjolnir
	branch = master
	url = ../mjolnir.git
[submodule "duelfront"]
	path = duelfront
	branch = master
	url = ../duelfront.git
[submodule "monocontrol"]
	path = monocontrol
	branch = master
	url = ../monocontrol.git
[submodule "ishukone-sheets"]
	path = ishukone-sheets
	branch = master
	url = ../ishukone-sheets.git
[submodule "docker-pi-cluster"]
	path = docker-pi-cluster
	branch = master
	url = ../docker-pi-cluster.git
[submodule "eventpure"]
	path = eventpure
	branch = master
	url = ../eventpure.git
[submodule "mineserver"]
	path = mineserver
	branch = master
	url = ../mineserver.git
[submodule "mono-eve"]
	path = mono-eve
	branch = master
	url = ../mono-eve.git
[submodule "euler"]
	path = euler
	branch = master
	url = ../euler.git
[submodule "monolab"]
	path = monolab
	branch = master
	url = ../monolab.git
[submodule "monoscreeps"]
	path = monoscreeps
	url = ../monoscreeps.git
	branch = main
[submodule "monolib-c"]
	path = monolib-c
	url = ../monolib-c.git
	branch = master
[submodule "luacrafts"]
	path = luacrafts
	url = ../luacrafts.git
	branch = master
[submodule "distributedsystems"]
	path = distributedsystems
	url = git@gitlab.com:monofuel34089/distributedsystems.git
[submodule "picobuild"]
	path = picobuild
	url = ../picobuild
[submodule "glusterfs-subdir-external-provisioner"]
	path = glusterfs-subdir-external-provisioner
	url = git@github.com:monofuel/glusterfs-subdir-external-provisioner.git
[submodule "ishukone-sheets2"]
	path = ishukone-sheets2
	url = git@gitlab.com:mono-homelab/ishukone-sheets2.git
[submodule "mono-retropie"]
	path = mono-retropie
	url = git@gitlab.com:monofuel34089/mono-retropie.git
[submodule "mono-fin"]
	path = mono-fin
	url = git@gitlab.com:monofuel34089/mono-fin.git
[submodule "mono-fit"]
	path = mono-fit
	url = git@gitlab.com:monofuel34089/mono-fit.git
[submodule "pixels"]
	path = pixels
	url = git@github.com:monofuel/pixels.git
	branch = master
	shallow = true
[submodule "nimcrafts"]
	path = nimcrafts
	branch = master
	url = git@gitlab.com:mono-homelab/nimcrafts.git
