[submodule "finance-tool"]
	path = finance-tool
	url = ../finance-tool.git
[submodule "handheld"]
	path = handheld
	url = ../handheld.git
[submodule "monofuel.dev"]
	path = monofuel.dev
	url = ../monofuel.dev.git
[submodule "orbital"]
	path = orbital
	url = ../orbital.git
[submodule "system-redemption"]
	path = system-redemption
	url = ../system-redemption.git
[submodule "vpn-certs"]
	path = vpn-certs
	url = ../vpn-certs.git
[submodule "fusion-automation-ts"]
	path = fusion-automation-ts
	url = ../fusion-automation-ts.git
[submodule "mjolnir"]
	path = mjolnir
	url = ../mjolnir.git
[submodule "duelfront"]
	path = duelfront
	url = ../duelfront.git
[submodule "monocontrol"]
	path = monocontrol
	url = ../monocontrol.git
[submodule "ishukone-sheets"]
	path = ishukone-sheets
	url = ../ishukone-sheets.git
